body{
    text-align: center;
}

.HEAD{
    background-color: aqua;
    margin: 0%;
    top: 0%;
    color:darkblue;
    width: 100%;
    box-shadow: 5px 5px 5px black;
}
canvas{
    box-shadow: 5px 5px 5px black;
    border: cadetblue;
}